{% extends "site_base.html" %}

{% block body %}

<h4>ארכיון עבור חבר/ה</h4>

<table>
	<tbody>
		{% for sale in archived_sales %}
		<tr>
			<td>{{ sale }}</td>
			<td><a href="{% url "member-order-list" sale.id %}">צפיה בהזמנה</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
