{% extends "site_base.html" %}

{% block body %}

<h4>ארכיון עבור אחראיות רכש</h4>
{% if user.is_superuser %}
<h5 style="text"><b><span style="color: red;">מנהל/ת יקר/ה: ייתכן שדף זה לא יראה לך את המידע המתאים. תוכל/י למצוא אותו בדף הארכיון תחת כותרת "ניהול"</span></b></h5>
{% endif %}
{% for sale in archived_sales %}
	{% with managed_suppliers as suppliers %}
		<div>
		{% include "archive/sale_archive.html" %}
		</div>
	{% endwith %}
{% endfor %}

{% endblock %}
