<h5>מכירה: {{ sale }}</h5>
<table>
	<tbody>
	<a href="{% url "products-in-sale" sale.id %}">רשימת מוצרים במכירה</a>
	{% for supplier in suppliers %}
		<tr>
			<td>{{ supplier }}</td>
			<td><a href="{% url "purchase-member-orders-form-by-supplier" sale.id supplier.id %}">הזמנות עבור המכירה</a></td>
			<td><a href="{% url "supplier-sale-order-summary" sale.id supplier.id %}">סיכום הזמנה לספק</a></td>
			{% if sale.is_draft and not archive_mode %}
			<td><a href="{% url "supplier-sale-product-list-form" sale_draft.id supplier.id %}">עדכון מחירים</a></td>
			{% endif %}
			{% if True or sale.is_closed %}
			<td><a href="{% url "supplier-sale-post-order-summary" ready_sale.id supplier.id %}">סיכום אחרי מכירה</a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
