{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block extra_head %}
<style>
div.table-wrapper {
	overflow: auto;
}

th.product-column {
	min-width: 230px;
	text-align: right;
}

td.range-cell {
	min-width: 50px;
}
</style>
<script type="text/javascript" src="http://datatables.net/release-datatables/extras/FixedHeader/js/FixedHeader.js"></script>
<script type="text/javascript">
jQ(document).ready(function() {
	var table = jQ('#id_order_table').dataTable({
		"aaSorting": [],
		"bSort": false,
		"aLengthMenu": [[-1], ["All"]],
	    "iDisplayLength": -1,
	    "sDom": 't',
	});
	//new FixedHeader(table);
	
	jQ("#id_submit_button").click(function() {
		var form_data = {};
		$.each(jQ('input', table.fnGetNodes()).serializeArray(), function() {
			  form_data[this.name] = this.value;
		});
		jQ.ajax({
			type: 'POST',
			url: "{% url "responsible_form" sale.id supplier.id %}",
			data: form_data,
			dataType: 'json',
		}).fail(function(jqXHR, textStatus) {
			alert("Error: " + textStatus);
		}).done(function(data) {
			alert("Saved changes");
		});
	});
});
</script>
{% endblock %}

{% block body %}
<h3>הזמנות</h3>
<h4>ספק: {{ supplier.name }}</h4>
<h4>מכירה: {{ sale.title }}</h4>
<div class="table-wrapper">
{# member_final_orders: {{ member_final_orders }} #}
{# first order: {{ member_orders|get_item_or_empty_dict:1|get_item:1 }} #}
{# first final order: {{ member_final_orders|get_item_or_empty_dict:1|get_item:1 }} #}

{% if order_info.member_orders and order_info.products %}
<table border="1" id="id_order_table">
	<thead>
		<tr class="{% cycle "row1" "row2" as rowcolors %}">
			{% for product in order_info.products %}
				<th class="product-column" colspan="4" colspan="4">
				{{ forloop.counter }} - {{ product.product.name }}
				</th>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<th>גודל אריזה</th>
				<th align="center" colspan="3">{{ order_info.amounts|get_item:product.id }}</th>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
		{% for product in order_info.products %}
			<th>חבר/ה</th>
			<th>הזמנה מקורית</th>
			<th class="range-cell">טווח</th>
			<th>הזמנה מתוקנת</th>
		{% endfor %}
	</thead>
	<tbody>
		{% for member in order_info.members %}
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<td>{{ member.get_full_name }}</td>
				<td>{{ order_info.member_orders|get_item_or_empty_dict:member.id|get_item:product.id }}</td>
				<td>{{ order_info.min_amounts|get_item_or_empty_dict:member.id|get_item:product.id }}-{{ order_info.max_amounts|get_item_or_empty_dict:member.id|get_item:product.id }}</td>
				{% if sale.is_draft %}
					<td><input class="product_quantity" name="product_{{ product.id }}_member_{{ member.id }}" type="text" value="{{ draft_info.member_orders|get_item_or_empty_dict:member.id|get_item:product.id }}" /></td>
				{% else %}
					<td>{{ draft_info.member_orders|get_item_or_empty_dict:member.id|get_item:product.id }}</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<td>סה"כ</td>
				<td>{{ order_info.totals|get_item:product.id }}</td>
				<td>---</td>
				<td>{{ draft_info.totals|get_item:product.id }}</td>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<td>כיצד לתקן</td>
				{% with order_info.leftovers|get_item:product.id as leftover %}
					{% if leftover == "0" %}
						<td class="balanced">מאוזן</td>
					{% else %}
						<td>{{ leftover }}</td>
					{% endif %}
				{% endwith %}
				<td>---</td>
				{% with draft_info.leftovers|get_item:product.id as leftover %}
					{% if leftover == "0" %}
						<td class="balanced">מאוזן</td>
					{% else %}
						<td>{{ leftover }}</td>
					{% endif %}
				{% endwith %}
			{% endfor %}
		</tr>
		{% comment %}
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<td class="product-column" colspan="4">
				<strong>{{ forloop.counter }} - {{ product.product.name }}</td></strong>
			{% endfor %}
		</tr>
		{% endcomment %}
	</tbody>
</table>
</div>
{% if sale.is_draft %}
<div class="form-actions">
	<button id="id_submit_button" type="submit" class="btn btn-primary">שמירה והמשך עריכה</button>
</p>
{% endif %}
{% else %}
	<p>No orders yet</p>
{% endif %}
{% endblock %}
