{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block extra_head %}
<style>
div.table-wrapper {
	overflow: auto;
}

th.product-column {
	min-width: 230px;
	text-align: right;
}

td.member-name {
	min-width: 100px;
}

td.range-cell {
	min-width: 50px;
}

td.comments {
	min-width: 100px;
}
</style>
<script type="text/javascript">
jQ(document).ready(function() {
	// A small hack to convert the float amount values sent by the back-end to integer values whenever possible 
	jQ.each(jQ('input.product_quantity'), function(index, elem) {
		float_value = parseFloat(jQ(elem).val());
		int_value = parseInt(jQ(elem).val());
		if (float_value == int_value) {
			jQ(elem).val(int_value);
		}
	});
});
</script>
{% endblock %}

{% block body %}
<h3>הזמנות</h3>
<h4>ספק: {{ supplier.name }}</h4>
<h4>מכירה: {{ sale.title }}</h4>
<div class="table-wrapper">

{% if order_info.member_orders and order_info.products %}
{% if sale.is_draft %}
<form action="{% url "responsible_form" sale.id supplier.id %}" method="post">
{% csrf_token %}
{% endif %}
<table border="1" id="id_order_table">
	<thead>
		<tr class="{% cycle "row1" "row2" as rowcolors %}">
			{% for product in order_info.products %}
				<th class="product-column" colspan="5">
				{{ forloop.counter }} - {{ product.product.name }}
				</th>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<th>גודל אריזה</th>
				<th align="center" colspan="4">{{ order_info.amounts|get_item:product.id }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr class="{% cycle rowcolors %}">
		{% for product in order_info.products %}
			<td>חבר/ה</td>
			<td>הזמנה מקורית</td>
			<td class="range-cell">טווח</td>
			<td class="comments">הערות</td>
			<td>הזמנה מתוקנת</td>
		{% endfor %}
		{% for member in order_info.members %}
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<td class="member-name">{{ member.get_full_name }}</td>
				<td>{{ order_info.member_orders|get_item_or_empty_dict:member.id|get_item:product.id }}</td>
				<td>{{ order_info.min_amounts|get_item_or_empty_dict:member.id|get_item:product.id }}-{{ order_info.max_amounts|get_item_or_empty_dict:member.id|get_item:product.id }}</td>
				<td></td>
				{% if sale.is_draft %}
					<td><input class="product_quantity" name="product_{{ product.id }}_member_{{ member.id }}" type="text" value="{{ draft_info.member_orders|get_item_or_empty_dict:member.id|get_item:product.id }}" /></td>
				{% else %}
					<td>{{ draft_info.member_orders|get_item_or_empty_dict:member.id|get_item:product.id }}</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<td>סה"כ</td>
				<td>{{ order_info.totals|get_item:product.id }}</td>
				<td>---</td>
				<td>---</td>
				<td>{{ draft_info.totals|get_item:product.id }}</td>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<td>כיצד לתקן</td>
				{% with order_info.leftovers|get_item:product.id as leftover %}
					{% if leftover == "0" %}
						<td class="balanced">מאוזן</td>
					{% else %}
						<td>{{ leftover }}</td>
					{% endif %}
				{% endwith %}
				<td>---</td>
				<td>---</td>
				{% with draft_info.leftovers|get_item:product.id as leftover %}
					{% if leftover == "0" %}
						<td class="balanced">מאוזן</td>
					{% else %}
						<td>{{ leftover }}</td>
					{% endif %}
				{% endwith %}
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in order_info.products %}
				<th class="product-column" colspan="5">
				<strong>{{ forloop.counter }} - {{ product.product.name }}</strong>
				</th>
			{% endfor %}
		</tr>
	</tbody>
</table>
{% if sale.is_draft %}
<div class="form-actions">
	<button type="submit" class="btn btn-primary">שמירה והמשך עריכה</button>
</p>
</form>
{% endif %}
{% else %}
	<p>No orders yet</p>
{% endif %}
</div>
{% endblock %}
