{% extends "site_base.html" %}
{% load staticfiles %}
{% block head_title %}{{ supplier }}{% endblock %}

{% block extra_head %}
<style>
select, input[type=text] {
	width: 80px;
}
#id_products_table > tbody > tr > td:first-child > input {
	width: 160px;
}
textarea {
	width: auto;
	height: 60px;
}
#id_products_table {
	width: 100%;
}
</style>
<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#id_products_table tbody tr').formset({
            prefix: 'product_set'
        });
    });
</script>
{# TODO: consider adding the code from admin site #}
{% comment %}
<script type="text/javascript" src="{% static "admin/js/inlines.js" %}"></script>
<script type="text/javascript">
(function(jQ) {
  jQ("#id_products_table tbody tr").tabularFormset({
    prefix: "product_set",
    adminStaticPrefix: '/static/admin/',
    addText: "Add another Product",
    deleteText: "Remove"
  });
})(django.jQuery);
</script>
{% endcomment %}

{% endblock %}

{% block body %}
<div class="entry">
	<h3>עריכת מוצרים</h3>
	{% if supplier %}
	<h4>ספק: {{ supplier.name }}</h4>
	{% else %}
	<h4>ספק: {{ suppliercategory.supplier.name }} | קטגוריה: {{ suppliercategory.name }}</h4>
	{% endif %}
    <form method="post" action="">
    {% csrf_token %}
    {% if formset.non_field_errors or formset.errors %}
    <p class="errornote">Please correct the errors below</p>
    {{ formset.non_field_errors.as_ul }}
	{% endif %}
    
    	{# taken from http://djangosnippets.org/snippets/1442/ #}
		<table id="id_products_table" class="form">
			{% for form in formset.forms %}
			{% if forloop.first %}
			<thead>
				<tr>
					{# <th>ID</th> #}
					{% for field in form.visible_fields %}
					<th>{{ field.label|capfirst }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% endif %}
			<tr class="{% cycle row1,row2 %}">
				{# <td>{{ form.instance.id }}</td> #}
				{% for field in form.visible_fields %}
					<td>{# Include the hidden fields in the form #}
					{% if forloop.first %}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
					{% endif %}
					{{ field.errors.as_ul }}
					{{ field }}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
        <div class="form-actions">
            {{ formset.management_form }}
            <button type="submit" class="btn btn-primary">Save and continue editing</button>
        </div>
    </form>
</div>
{% endblock %}
