{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block extra_head %}
<style>
div.table-wrapper {
	overflow: auto;
}

th.product-column {
	min-width: 230px;
	text-align: right;
}

td.member-name {
	min-width: 100px;
}

td.range-cell {
	min-width: 50px;
}

td.comments {
	min-width: 100px;
}
</style>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ.each(jQ('input.product_quantity'), hack_quantity_field_value);
});
</script>
{% endblock %}

{% block body %}
<h3>הזמנות</h3>
{% if category %}
<h4>ספק: {{ supplier.name }} | קטגוריה: {{ category.name }}</h4>
{% else %}
<h4>ספק: {{ supplier.name }}</h4>
{% endif %}
<h4>מכירה: {{ sale.title }}</h4>
<div class="table-wrapper">

{% if member_orders and products %}
{% if sale.is_draft %}
<form action="" method="post">
{% csrf_token %}
{% if form_errors %}
<p class="errornote">הבעיות הבאות נתגלו במהלך השמירה, אנא מלאו כמויות נכונות. הערכים הלא חוקיים לא נשמרו:</p>
<ol>
	{% for error in form_errors %}
	<li>{{ error }}</li>
	{% endfor %}
</ol>
{% endif %}
{% endif %}
<table border="1" id="id_order_table">
	<thead>
		<tr class="{% cycle "row1" "row2" as rowcolors %}">
			{% for product in products %}
				<th class="product-column" colspan="5">
				{{ forloop.counter }} - {{ product.product.name }}
				</th>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in products %}
				<th>גודל אריזה</th>
				<th align="center" colspan="4">{{ product.package_size }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr class="{% cycle rowcolors %}">
		{% for product in products %}
			<td>חבר/ה</td>
			<td>הזמנה מקורית</td>
			<td class="range-cell">טווח</td>
			<td class="comments">הערות</td>
			<td>הזמנה מתוקנת</td>
		{% endfor %}
		{% for member in members %}
		<tr class="{% cycle rowcolors %}">
			{% for product in products %}
			{% with member_orders|get_item_or_empty_dict:product.id|get_item:member.id as member_order %} 
				<td class="member-name">{{ member.get_full_name }}</td>
				<td>{{ member_order.amount }}</td>
				<td>{{ member_order.min_amount }}-{{ member_order.max_amount }}</td>
				<td>{{ member_order.comments }}</td>
				{% with final_orders|get_item_or_empty_dict:product.id|get_item:member.id as final_order %}
				{% if sale.is_draft %}
					<td><input class="product_quantity" name="product_{{ product.id }}_member_{{ member.id }}" type="text" value="{{ final_order.amount }}" /></td>
				{% else %}
					<td>{{ final_order.amount }}</td>
				{% endif %}
				{% endwith %}
			{% endwith %}
			{% endfor %}
		</tr>
		{% endfor %}
		<tr class="{% cycle rowcolors %}">
			{% for product in products %}
				<td>סה"כ הוזמן</td>
				<td>{{ order_info.totals|get_item:product.id }}</td>
				<td>---</td>
				<td>---</td>
				<td>{{ draft_info.totals|get_item:product.id }}</td>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in products %}
				<td>קיים במלאי</td>
				<td>{{ product.product.inventory }}</td>
				<td>---</td>
				<td>---</td>
				<td></td>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in products %}
				<td>סה"כ להזמין</td>
				<td>{{ order_info.totals|get_item:product.id|subtract_inventory:product.product.inventory}}</td>
				<td>---</td>
				<td>---</td>
				<td>{{ draft_info.totals|get_item:product.id|subtract_inventory:product.product.inventory}}</td>
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in products %}
				<td>כיצד לתקן</td>
				{% with order_info.leftovers|get_item:product.id as leftover %}
					{% if leftover == "0" %}
						<td class="balanced">מאוזן</td>
					{% else %}
						<td>{{ leftover }}</td>
					{% endif %}
				{% endwith %}
				<td>---</td>
				<td>---</td>
				{% with draft_info.leftovers|get_item:product.id as leftover %}
					{% if leftover == "0" %}
						<td class="balanced">מאוזן</td>
					{% else %}
						<td>{{ leftover }}</td>
					{% endif %}
				{% endwith %}
			{% endfor %}
		</tr>
		<tr class="{% cycle rowcolors %}">
			{% for product in products %}
				<th class="product-column" colspan="5">
				<strong>{{ forloop.counter }} - {{ product.product.name }}</strong>
				</th>
			{% endfor %}
		</tr>
	</tbody>
</table>
{% if sale.is_draft %}
<div class="form-actions">
	<button type="submit" class="btn btn-primary">שמירה והמשך עריכה</button>
</p>
</form>
{% endif %}
{% else %}
	<p>No orders yet</p>
{% endif %}
</div>
{% endblock %}
