{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}{{ supplier }}{% if category %} | {{ category }}{% endif %}{% endblock %}

{% block extra_head %}
<style>
th, td {
	text-align: right;
	min-width: 60px;
}
</style>
<script type="text/javascript">
	var sort_column = 0;
	var aoColumns = [null, null, null, null, null,
		             null, null, null, null];
	{% if sale %}
	sort_column++;
	aoColumns.unshift({'bSortable': false}); // disable search on first column, which contains the checkboxes
	{% endif %};
	jQ(document).ready(function() {
		var table = jQ('#products').dataTable({
			"aaSorting": [[ sort_column, "asc" ]],
			"aoColumns": aoColumns,
			"aLengthMenu": [[-1], ["All"]],
		    "iDisplayLength": -1, 
		    "sDom": 't'
		});
 		jQ('.update_product_selection').click(function() {
			var product_selection = {};
			jQ.each(jQ('input.product_selection'), function(index, elem) {
				product_selection[elem.value] = jQ(elem).is(":checked");
			});
			jQ.ajax({
				type: 'POST',
				url: "{% url "update-supplier-sale-products" supplier.id %}",
				data: {'selection': JSON.stringify(product_selection), 'sale_id': '{{ sale.id }}' },
				dataType: 'json',
			}).fail(function(jqXHR, textStatus) {
				alert("Error: " + textStatus);
			}).done(function(data) {
				updateMessage(data.message);
			});
		});
 		jQ('input#toggle_all').click(function() {
			jQ('input.product_selection').prop("checked", $(this).is(":checked"));
		});
    });
</script>
{% endblock %}

{% block body %}
	<h3>רשימת מוצרים</h3>
	{% if category %}
	<h4>ספק: {{ supplier.name }} | קטגוריה: {{ category.name }}</h4>
	{% else %}
	<h4>ספק: {{ supplier.name }}</h4>
	{% endif %}
	{% if sale %}
	<h4>מכירה: {{ sale.title }}</h4>
	{% endif %}
	<div id="container">
		<ul class="messagelist">
			{# <li class="info">{{ existing_products }}</li> #}
		</ul>
	</div>
	<div class="row">
	<table id="products">
		<thead>
			<tr>
				{% if sale %}<th><input id="toggle_all" type="checkbox"></th>{% endif %}
				{% for field in fields %}
				<th>{{ field|capfirst }}</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for product in object_list %}
			<tr>
				{% if sale %}
				<td>
					<input type="checkbox" class="product_selection" value="{{ product.id }}"
					 {% if product.id in existing_products %}checked="checked"{% endif %}>
				</td>
				{% endif %}
				<td>{{ product.name }}</td>
				<td>{{ product.unit }}</td>
				<td>{{ product.price_before_VAT }}</td>
				<td>{{ product.price_including_VAT }}</td>
				<td>{{ product.selling_price }}</td>
				<td>{{ product.get_packaged_display }}</td>
				<td>{{ product.get_organic_display }}</td>
				<td>{{ product.package_size }}</td>
				<td>{{ product.description }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
	{% if sale %}
    <div class="form-actions">
		<button class="btn btn-primary update_product_selection">עדכון והמשך עריכה</button>
	</div>
 	{% endif %}
{% endblock %}
