{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block extra_head %}
<style>
div.table-wrapper {
	overflow: auto;
}
tr.summary td {
	font-weight: bold;	
}
</style>
<script type="text/javascript">
jQ(document).ready(function() {
/* 	jQ('id_order_table').dataTable({
		'sDom': 't',
	}); */
	jQ('#id_export_button').click(function() {
		window.open('{% url "supplier-sale-order-csv-summary" sale.id supplier.id %}', '_blank');
	});
	jQ('#id_edit_button').click(function() {
		window.open('{% url "supplier-sale-product-list-form" sale.id supplier.id %}');
	});
});
</script>
{% endblock %}

{% block body %}
<h3>סיכום הזמנה</h3>
<h4>ספק: {{ supplier.name }}</h4>
<h4>מכירה: {{ sale.title }}</h4>
<div class="table-wrapper">
	<table border="1" id="id_order_table">
		<thead>
			<tr class="{% cycle "row1" "row2" as rowcolors %}">
				<th></th>
				<th>מוצר</th>
				<th>יחידה</th>
				<th>מחיר ליחידה לפני מע"מ</th>
				<th>מחיר ליחידה כולל מע"מ</th>
				<th>כמות יחידות להזמנה</th>
				{# <th>כמות יחידות להזמנה</th> #}			
				<th>סה"כ לתשלום עבור המוצר לפני מע"מ</th>
				<th>סה"כ לתשלום עבור המוצר כולל מע"מ</th>
				{# <th>סה"כ לתשלום עבור המוצר</th> #}
				{# <th>הערות טרום מכירה</th> #}
				{# <th>הערות אחרי מכירה</th> #}
			</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr class="{% cycle rowcolors %}">
					<td>{{ forloop.counter }}</td>
					<td>{{ order.name }}</td>
					<td>{{ order.unit }}</td>
					<td>{{ order.price_before_VAT }}</td>
					<td>{{ order.purchase_price }}</td>
					<td>{{ order.amount }}</td>
					<td>{{ order.total_price_before_VAT }}</td>
					<td>{{ order.total_price }}</td>
					{# <td>{{ product_final_order.pre_sale_comments }}</td> #}
				</tr>
			{% endfor %}
			<tr class="summary">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>סה"כ תשלום לספק:</td>
				<td>{{ total.before_VAT }}</td>
				<td>{{ total.including_VAT }}</td>
			</tr>
			<tr class="summary">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td>כולל מע"מ - לוידוא:</td>
				<td>{{ total.doublecheck }}</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="form-actions">
		<button class="btn btn-primary" id="id_export_button">ייצוא לקובץ נתונים</button>
		<button class="btn" id="id_edit_button">מעבר לדף עדכון מחירים</button>
     </div>
	
	<p>קובץ הנתונים יהיה ניתן לפתיחה ב-excel או ב-google spreadsheet, כאשר ב-excel יש כרגע בעיה עם העברית</p>
	<h4>כיצד לשמור כ-google spreadsheet</h4>
	<p>1. ללחוץ על הלינק "ייצוא לקובץ נתונים". הלחיצה תוריד למחשב שלכם קובץ חדש בשם order-summary.csv. ייתכן שהקובץ יישמר אוטומטית לספריית ההורדות שלכן - זה המצב למשל בדפדפן כרום. בדפדפנים אחרים, למשל פיירפוקס או אינטרנט אקספלורר, ייתכן שהוא ישאל אתכן האם לפתוח את הקובץ או לשמור אותו, והיכן. אנא שמרו את הקובץ במקום הנוח לכן.<br>
במידה ושמרתן את הקובץ פעם נוספת באותה ספריה, הקובץ החדש ייקרא order-summary (1).csv וכן הלאה, אז שימו לב שאתן בוחרות בהמשך את הקובץ המעודכן ביותר.<br>
2. לפתוח גליון נתונים חדש בגוגל דרייב ע"י לחיצה על:<br>
    Create -> Spreadsheet<br>
3. לייבא את קובץ הנתונים לתוך הגליון החדש שנפתח ע"י בחירה מהתפריט באפשרות:<br>
    File -> Import...<br>
בחלון שנפתח, ללחוץ Browse ולבחור את הקובץ המעודכן ששמרתן בצעד מספר 1<br>
באותו מסך, לבחור את Import action הבאה:<br>
"Append rows to current sheet"<br>
ולא לשנות את ברירת המחדל של Separator character<br>
4. לבצע התאמות אחרונות לקובץ, בהתאם לרצונכן. למשל:<br>
* לקרוא לקובץ בשם מוצלח, למשל "שימורי איכות - סיכום הזמנת יוני 2013"<br>
* הגליון המיובא לא מכיל נוסחאות המחשבות את הסה"כ הכללי, ולכן עליכן לעשות את זה בעצמכן על ידי סכימת טור הסה"כ ולוודא שהסכום זהה לסכום שמופיע בדף סיכום ההזמנה.<br>
* אפשר גם לשנות את הכיוון של המסמך ע"י בחירה ב:<br>
    Format -> Direction -> Right-to-left sheet<br>
	</p>
</div>
{% endblock %}
