{% extends "site_base.html" %}

{% block head_title %}{{ sale }}{% endblock %}

{% block extra_head %}
<style>
select, input[type=text] {
	width: 60px;
}
textarea {
	width: 180px;
	height: 20px;
}
</style>
{% endblock %}

{% block body %}
	<h3>עדכון מחירי מוצרים</h3>
	<h4>מכירה: {{ sale }}</h4>
	<h4>ספק: {{ supplier }}</h4>
    <form method="post" action="">
    {% csrf_token %}
    {% if formset.non_field_errors or formset.errors %}
    <p class="errornote">Please correct the errors below</p>
    {{ formset.non_field_errors.as_ul }}
	{% endif %}

    	{# taken from http://djangosnippets.org/snippets/1442/ #}
		<table id="id_sale_product_table" class="form" border="1">
			{% for form in formset.forms %}
			{% if forloop.first %}
			<thead>
				<tr>
					<th></th>
					<th>מוצר</th>
					<th>יחידה</th>
					{% comment %}
					<th>ארוז/תפזורת</th>
					<th>אורגני</th>
					<th>גודל אריזה</th>
					{% endcomment %}
					<th>מחיר המוצר המקורי לפני מע"מ</th>
					<th>מחיר המוצר המקורי כולל מע"מ</th>
					{# <th>מחיר המכירה של המוצר המקורי</th> #}
					{% for field in form.visible_fields %}
					<th>{{ field.label|capfirst }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% endif %}
			<tr class="{% cycle row1,row2 %}">
				{% with form.instance as sale_product %}
					{% with sale_product.product as product %}
					<td>{{ forloop.counter }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.unit }}</td>
					{% comment %}
					<td>{{ product.get_packaged_display }}</td>
					<td>{{ product.get_organic_display }}</td>
					<td>{{ product.package_size }}</td>
					{% endcomment %}
					<td>{{ product.price_before_VAT }}</td>
					<td>{{ product.price_including_VAT }}</td>
					{# <td>{{ product.selling_price }}</td> #}
					{% endwith %}
				{% endwith %}
				{% for field in form.visible_fields %}
					<td>{# Include the hidden fields in the form #}
					{% if forloop.first %}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
					{% endif %}
					{{ field.errors.as_ul }}
					{{ field }}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
        <div class="form-actions">
            {{ formset.management_form }}
            <input type="submit" class="btn btn-primary" value="שמירה והמשך עריכה" />
			<input type="submit" class="btn" name="_redirect_to_summary" value="שמירה ומעבר לדף סיכום הזמנה" />
        </div>
    </form>
{% endblock %}
