{% extends "site_base.html" %}

{% block head_title %}{{ sale }}{% endblock %}

{% block extra_head %}
<style>
select, input[type=text] {
	width: 60px;
}
textarea {
	width: 180px;
	height: 20px;
}
</style>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ.each(jQ('td.product_quantity, input.product_quantity'), hack_quantity_field_value);
	jQ.each(jQ('td.total, input#id_sum'), truncate_decimal_field);
	sumElements(jQ('td.delivery_total'), jQ('th#id_sum_delivery_total'));
	sumElements(jQ('td.total_received'), jQ('th#id_sum_total_received'));
	jQ.each(jQ('tr.product_item'), function(index, elem) {
		var e = jQ(elem);
		var price = parseFloat(e.find('td.price').html());
		var amount_ordered = parseFloat(e.find('td.amount_ordered').html());
		var amount_bought = parseFloat(e.find('td.amount_bought').html());
		e.find('td.total_ordered').html((price * amount_ordered).toFixed(2));
		e.find('td.total_bought').html((price * amount_bought).toFixed(2));
	});
	sumElements(jQ('td.total_ordered'), jQ('th#id_sum_total_ordered'));
	sumElements(jQ('td.total_bought'), jQ('th#id_sum_total_bought'));
});
</script>
{% endblock %}

{% block body %}
	<h3>סיכום אחרי מכירה</h3>
	<h4>מכירה: {{ sale }}</h4>
	<h4>ספק: {{ supplier }}</h4>
    <h5>הזמנות שבהן הכמות ששולמה בקופה אינה תואמת את הכמות שהוזמנה</h5>
    {% if amount_differs_orders %}
	<table id="id_diff_table" border="1">
		<thead>
			<tr>
				<th></th>
				<th>מוצר</th>
				<th>יחידה</th>
				<th>חבר/ה</th>
				<th>כמות יחידות שהוזמנו</th>
				<th>כמות יחידות שנקנו במכירה</th>
			</tr>
		</thead>
		<tbody>
			{% for order in amount_differs_orders %}
			<tr>
				{% with order.product_order as product_order %}
					{% with product_order.product as sale_product %}
					<td>{{ forloop.counter }}</td>
					<td>{{ sale_product.product.name }}</td>
					<td>{{ sale_product.product.unit }}</td>
					<td>{{ product_order.member.get_full_name }}</td>
					<td class="product_quantity">{{ order.amount }}</td>
					<td class="product_quantity">{{ order.amount_bought }}</td>
					{% endwith %}
				{% endwith %}
			</tr>			
			{% endfor %} 
		</tbody>
    </table>
    {% else %}
    <p>כל ההזמנות תואמות</p>
    {% endif %}
    <h5>פירוט לפי מוצר</h5>
    
{% if not readonly %}
    <form method="post" action="">
    {% csrf_token %}
    {% if formset.non_field_errors or formset.errors %}
    <p class="errornote">Please correct the errors below</p>
    {{ formset.non_field_errors.as_ul }}
	{% endif %}
{% endif %}

    	{# taken from http://djangosnippets.org/snippets/1442/ #}
		<table id="id_sale_product_table" class="form" border="1">
			<thead>
				<tr>
					<th></th>
					<th>מוצר</th>
					<th>יחידה</th>
					<th>מחיר ליחידה כולל מע"מ</th>
					<th>כמות יחידות שהוזמנו מהספק</th>
					<th>כמות יחידות לפי תעודת משלוח/חשבונית</th>
					<th>כמות יחידות שהגיעו בפועל</th>
					<th>כמות יחידות שנקנו במכירה</th>
					<th>כמות יחידות שנשארה</th>
					<th>סה"כ לתשלום עבור המוצר לפי כמות שהוזמנה</th>
					<th>סה"כ לתשלום עבור המוצר לפי תעודת משלוח/חשבונית</th>
					<th>סה"כ לתשלום עבור הכמות שהגיעה בפועל</th>
					<th>סה"כ לתשלום עבור הכמות ששולמה בקופה</th>
					<th>הערות</th>
				</tr>
			</thead>
			
			{% if readonly %}
				{% for sale_product in object_list %}
				<tr class="{% cycle "row1" "row2" as rowcolors %} product_item">
					{% with sale_product.product as product %}
					<td>{{ forloop.counter }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.unit }}</td>
					<td class="price">{{ sale_product.price_including_VAT }}</td>
					<td class="amount_ordered product_quantity">{{ sale_product.get_amount_ordered }}</td> {# CAUTION: triggers a whole lot of queries #}
					<td class="product_quantity">{{ sale_product.delivery_amount }}</td>
					<td class="product_quantity">{{ sale_product.amount_received }}</td>
					<td class="amount_bought product_quantity">{{ sale_product.amount_bought }}</td> {# CAUTION: triggers a whole lot of queries #}
					<td class="product_quantity">{{ sale_product.amount_leftover }}</td>
					<td class="total total_ordered"></td>
					<td class="total delivery_total">{{ sale_product.total_delivery_price }}</td>
					<td class="total total_received">{{ sale_product.total_received_price }}</td>
					<td class="total total_bought"></td>
					<td>{{ sale_product.post_sale_comments }}</td>
					{% endwith %}
				</tr>
				{% endfor %}
			{% else %}
				{% for form in formset.forms %}
				<tr class="{% cycle "row1" "row2" as rowcolors %} product_item">
					{% with form.instance as sale_product %}
						{% with sale_product.product as product %}
						<td>{{ forloop.counter }}</td>
						<td>{{ product.name }}</td>
						<td>{{ product.unit }}</td>
						<td class="price">{{ sale_product.price_including_VAT }}</td>
						<td class="amount_ordered product_quantity">{{ sale_product.get_amount_ordered }}</td> {# CAUTION: triggers a whole lot of queries #}
						<td>
						{{ form.delivery_amount.errors.as_ul }}
						{{ form.delivery_amount }}
						</td>
						<td>
						{{ form.amount_received.errors.as_ul }}
						{{ form.amount_received }}
						</td>
						<td class="amount_bought product_quantity">{{ sale_product.amount_bought }}</td> {# CAUTION: triggers a whole lot of queries #}
						<td>
						{{ form.amount_leftover.errors.as_ul }}
						{{ form.amount_leftover }}
						</td>
						<td class="total total_ordered"></td>
						<td class="total delivery_total">{{ sale_product.total_delivery_price }}</td>
						<td class="total total_received">{{ sale_product.total_received_price }}</td>
						<td class="total total_bought"></td>
						{% endwith %}
					{% endwith %}
					<td>{# Include the hidden fields in the form #}
					{% for hidden in form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{{ form.post_sale_comments.errors.as_ul }}
					{{ form.post_sale_comments }}
					</td>
				</tr>
				{% endfor %}
			{% endif %}
			<tr class="{% cycle rowcolors %}">
				<th></th>
				<th>סה"כ</th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
				<th id="id_sum_total_ordered"></th>
				<th id="id_sum_delivery_total"></th>
				<th id="id_sum_total_received"></th>
				<th id="id_sum_total_bought"></th>
				<th></th>
			</tr>
		</table>
{% if not readonly %}
        <div class="form-actions">
            {{ formset.management_form }}
            <input type="submit" class="btn btn-primary" value="שמירה והמשך עריכה" />
        </div>
    </form>
{% else %}
	<form method="post" action="">
		{% csrf_token %}
	    {% if form.non_field_errors or form.errors %}
	    <p class="errornote">Please correct the errors below</p>
	    {{ form.non_field_errors.as_ul }}
		{% endif %}

        {{ form.as_p }}
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="שמירה והמשך עריכה" />
        </div>
    </form>
{% endif %}
{% endblock %}
