{% extends "subnav_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block subnav %}
	{% if user.is_authenticated %}
	    <ul class="nav nav-list">
	        <li class="nav-header">כללי</li>
	        <li><a href="{% url "member-list" %}">רשימת חברים</a></li>
            <li><a href="{% url "product-list" %}">רשימת מוצרים</a></li>
            <li><a href="{% url "inventory-list" %}">רשימת מלאי</a></li>
	    </ul>
	    {% if user.is_staff %}
	    <ul class="nav nav-list">
		    <li class="nav-header">ניהול</li>
		    <ul class="nav nav-list">
		    	<li><a href="{% url "admin-edit-suppliers-products" %}">ניהול ובחירת מוצרים</a></li>
		    	{% if sale_open_to_buyers %}
		    	<li><a href="{% url "admin-sale-status" sale_open_to_buyers.id %}">מצב {{ sale_open_to_buyers }}</a></li>
		    	{% endif %}
		    	{% if open_sale %}
		    	<li><a href="{% url "admin-sale-status" open_sale.id %}">מצב {{ open_sale }}</a></li>
		    	{% endif %}
		    	<li><a href="{% url "admin-archive" %}">ארכיון</a></li>
		    </ul>
		</ul>
	    {% endif %}
        {% if is_purchase_manager %}
			<ul class="nav nav-list">
				<li class="nav-header">אחראיות רכש</li>
		        {% if managed_suppliers %}
			        <ul class="nav nav-list">
			        	<li class="nav-header">ניהול רשימת מוצרים</li>
				        {% for supplier in managed_suppliers %}
				        	{% if supplier.suppliercategory_set.count == 0 %}
				        	<li><a href="{% url "edit-supplier-products" supplier.id %}">{{ supplier.name }}</a></li>
				        	{% else %}
				        		{% for category in supplier.suppliercategory_set.all %}
				        		<li><a href="{% url "edit-category-products" category.id %}">{{ category.name }}</a></li>
				        		{% endfor %}
				        	{% endif %}
				       	{% endfor %}
				    </ul>
		       	{% endif %}
		       	{% if sale_open_to_buyers and managed_suppliers %}
			        <ul class="nav nav-list">
			        	<li class="nav-header">בחירת מוצרים עבור {{ sale_open_to_buyers.title }}</li>
			       		{% for supplier in managed_suppliers %}
			       			{% if supplier.suppliercategory_set.count == 0 %}
			       			<li><a href="{% url "supplier-products" supplier.id %}">{{ supplier.name }}</a></li>
			       			{% else %}
			       				{% for category in supplier.suppliercategory_set.all %}
			       				<li><a href="{% url "select-category-products" supplier.id category.id %}">{{ category.name }}</a></li>
			       				{% endfor %}
			       			{% endif %}
			       		{% endfor %}
		       		</ul>
		       	{% endif %}
		       	{% if sale_draft and managed_suppliers %}
			        <ul class="nav nav-list">
			        	<li class="nav-header">הזמנות עבור {{ sale_draft.title }}</li>
			       		{% for supplier in managed_suppliers %}
				        	{% if supplier.has_categories %}
			       				{% for category in supplier.suppliercategory_set.all %}
			       				<li><a href="{% url "purchase-member-orders-form-by-category" sale_draft.id category.id %}">{{ category.name }}</a></li>
			       				{% endfor %}
				       		{% else %}
								<li><a href="{% url "purchase-member-orders-form-by-supplier" sale_draft.id supplier.id %}">{{ supplier.name }}</a></li>
							{% endif %}
						{% endfor %}
			        	<li class="nav-header">סיכום הזמנה עבור {{ sale_draft.title }}</li>
			       		{% for supplier in managed_suppliers %}
							<li><a href="{% url "supplier-sale-order-summary" sale_draft.id supplier.id %}">{{ supplier.name }}</a></li>
						{% endfor %}
			        	<li class="nav-header">עדכון מחירים עבור {{ sale_draft.title }}</li>
			       		{% for supplier in managed_suppliers %}
							<li><a href="{% url "supplier-sale-product-list-form" sale_draft.id supplier.id %}">{{ supplier.name }}</a></li>
						{% endfor %}
						{% comment %}
			        	<li class="nav-header">סיכום הזמנה 2 עבור {{ sale_draft.title }}</li>
			       		{% for supplier in managed_suppliers %}
							<li><a href="{% url "supplier-sale-post-order-summary" sale_draft.id supplier.id %}">{{ supplier.name }}</a></li>
						{% endfor %}
						{% endcomment %}
					</ul>
		       	{% endif %}
		       	{% if ready_sale and managed_suppliers %}
			        <ul class="nav nav-list">
			        	<li class="nav-header">סיכום אחרי מכירה עבור {{ ready_sale.title }}</li>
			       		{% for supplier in managed_suppliers %}
							<li><a href="{% url "supplier-sale-post-order-summary" ready_sale.id supplier.id %}">{{ supplier.name }}</a></li>
						{% endfor %}
					</ul>
		       	{% endif %}
	       		<ul class="nav nav-list">
	       			<li class="nav-header">ארכיון</li>
	       			<li><a href="{% url "purchase-archive" %}">מעבר לדפי ארכיון</a></li>
	       		</ul>
	       	</ul>
        {% endif %}
        
        {% if is_treasurer %}
			<ul class="nav nav-list">
				<li class="nav-header">גזברות</li>
		        <ul class="nav nav-list">
		        	<li class="nav-header">כללי</li>
			        <li><a href="{% url "transfer-list" %}">העברות כספים</a></li>
			        <li><a href="{% url "payments-breakdown" %}">תשלומי חברים עבור  קניה</a></li>
			    </ul>
		        {% if ready_sale %}
		        <ul class="nav nav-list">
		        	<li class="nav-header">{{ ready_sale.title }}</li>
			        <li><a href="{% url "treasury-sale-supplier-summaries" ready_sale.id %}">דפי סיכום אחרי מכירה לספקים</a></li>
			        <li><a href="{% url "sale-day-summary" ready_sale.id %}">קופה - סיכום מכירה</a></li>
			        <li><a href="{% url "treasury-sale-member-orders" ready_sale.id %}">חברים - סיכום רשימת קניות</a></li>
			        <li><a href="{% url "treasury-sale-summary" ready_sale.id %}">מאזן כספי של המכירה</a></li>
			    </ul>
		        {% endif %}
		        <ul class="nav nav-list">
		        	<li class="nav-header">ארכיון</li>
			        <li><a href="{% url "treasury-archive" %}">מעבר לדפי ארכיון</a></li>
			    </ul>
		    </ul>
        {% endif %}
        
        {% if is_sale_day_manager %}
			<ul class="nav nav-list">
				<li class="nav-header">אחראיות קופה</li>
		        {% if ready_sale %}
		        	<ul class="nav nav-list">
			        	<li class="nav-header">{{ ready_sale }}</li>
                        <li><a href="{% url "manage-sale" ready_sale.id %}">ניהול מכירה</a></li>
                        <li><a href="{% url "products-in-sale" ready_sale.id %}">ניהול מוצרי מכירה</a></li>
			        	<li><a href="{% url "manage-cheques" ready_sale.id %}">רישום המחאות</a></li>
			        	<li><a href="{% url "sale-day-member-notes" ready_sale.id %}">פתקים לפי חבר/ה</a></li>
			        	<li><a href="{% url "sale-day-product-notes" ready_sale.id %}">פתקים לפי מוצר</li>
			        </ul>
				{% else %}
	        		<li>אין אף מכירה מוכנה</li>
		       	{% endif %}
		    </ul>
        {% endif %}
        
        {% if is_customer %}
	        <ul class="nav nav-list">
	        	<li class="nav-header">חברים</li>
	        	{% if open_sale %}
	        		<ul class="nav nav-list">
	        			<li class="nav-header">{{ open_sale }}</li>
		        		<li><a href="{% url "member-order-form" open_sale.id %}">עריכת הזמנה</a></li>
		        		<li><a href="{% url "member-order-list" open_sale.id %}">צפיה בהזמנה</a></li>
		        	</ul>
	        	{% else %}
	        		{% if sale_draft %}
		        		<ul class="nav nav-list">
		        			<li class="nav-header">{{ sale_draft }}</li>
			        		<li><a href="{% url "member-order-list" sale_draft.id %}">צפיה בהזמנה מקורית</a></li>
			        	</ul>
	        		{% else %}
	        			{% if ready_sale %}
			        		<ul class="nav nav-list">
			        			<li class="nav-header">{{ ready_sale }}</li>
				        		<li><a href="{% url "member-order-list" ready_sale.id %}">צפיה בהזמנה מקורית</a></li>
				        		<li><a href="{% url "member-final-order-list" ready_sale.id user.id %}">צפיה בהזמנה סופית</a></li>
				        	</ul>
	        			{% else %}
	        			<li>אין אף מכירה פתוחה</li>
	        			{% endif %}
	        		{% endif %}
	        		{% if archived_sales %}
	        		<ul class="nav nav-list">
		       			<li class="nav-header">ארכיון</li>
		       			<li><a href="{% url "member-archive" %}">הזמנות קודמות</a></li>
		       		</ul>
	        		{% endif %}
	        	{% endif %}
	        </ul>
        {% endif %}

    {% endif %}
{% endblock %}

{% block body %}
	<div class="hero-unit">
    <h2>קואופרטיב רחובות</h2>
    
    {% if user.is_authenticated %}
    	<p>שלום, {{ user.get_full_name }}</p>
        <iframe width="600px" height="400px" src="/upcoming/" frameBorder="0"></iframe>
    {% else %}
	    <h3>About Rehovot Coop</h3>
	    <p>
	    Visit <a href='http://rehovotcoop.wordpress.com/' target="_blank">our wordpress site</a> and do some reading
	    </p>
        {% url "account_login" as login_url %}
        {% url "account_signup" as signup_url %}
        <p>{% blocktrans %}Proceed to <a href="{{ login_url }}" class="btn">Log In</a>{% endblocktrans %}</p>
    {% endif %}
    </div>
{% endblock %}
