{% extends "theme_base.html" %}

{% load staticfiles %}
{# {% load metron_tags %} #}
{% load i18n %}

{% block nav %}
<ul class="nav">
	<li class="navopts"><a href="{% url "home" %}">לדף הראשי</a></li>
	<li class="navopts site_env {{ SITE_ENVIRONMENT }}">{{ SITE_ENVIRONMENT }}</li>
</ul>
{% endblock %}

{% block extra_head_base %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    <link rel="stylesheet" type="text/css" media="print" href="{% static "css/print_version.css" %}">
    <!-- handsontable CSS -->
    <link rel="stylesheet" type="screen" href="{% static "css/jquery.handsontable.full.css" %}">
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
	<!-- jQuery UI CSS -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {# <script type="text/javascript" src="{% static "js/libs/jquery/1.9.0/jquery.js" %}"></script> #}
	<script type="text/javascript" src="{% static "js/libs/jquery.handsontable.full.js" %}"></script>
	<script type="text/javascript" src="{% static "js/libs/cookie/1.3.1/jquery.cookie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/libs/formset/1.2/jquery.formset.js" %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	
    <script type="text/javascript">
    var jQ = jQuery.noConflict();
    </script>
    <script type="text/javascript" src="{% static "js/foodcoop.js" %}"></script>
	
	<!-- DataTables -->
	<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>

    {% block extra_head %}{% endblock %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {# {% analytics %} #}
    {% block extra_body %}{% endblock %}
{% endblock %}
