{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block extra_head %}
<script type="text/javascript">
jQ(document).ready(function() {
	jQ.each(jQ('td.product_quantity'), hack_quantity_field_value);

	sumElements(jQ('td.total_price'), jQ('th#total'));
	
	jQ('#id_order_table').dataTable({
		"bSort": false,
		"aLengthMenu": [[-1], ["All"]],
	    "iDisplayLength": -1,
	    "sDom": 't',
	});
});
</script>
{% endblock %}

{% block body %}
<div class="noprint">
	<h3>הזמנה סופית לחבר/ה</h3>
	<h4>מכירה: {{ sale }}</h4>
	<h4>חבר/ה: {{ member.get_full_name }}</h4>
	<input type="button" class="btn" value="הדפסה" onclick="window.print();">
</div>

<table id="id_order_table">
	<thead>
		<tr>
			<th class="noprint"></th>
			<th>מוצר</th>
			<th>ספק</th>
			<th class="noprint">יחידה</th>
			<th class="noprint">מחיר ליחידה</th>
			<th class="noprint">כמות שהוזמנה</th>
			<th>כמות מתוקנת</th>
			{% if epilogue %}
			<th>כמות ששולמה בקופה</th>
			{% endif %}
			<th>מחיר</th>
		</tr>
	</thead>
	<tbody>
		{% for final_order in object_list %}
			{% with final_order.product_order as order %}
				{% with order.product as product %}
				<tr>
					<td class="noprint">{{ forloop.counter }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.product.supplier }}</td>
					<td class="noprint">{{ product.product.unit }}</td>
					<td class="noprint">{{ product.price }}</td>
					<td class="noprint">{{ order.amount }}</td>
					{% if epilogue %}
					<td class="product_quantity">{{ final_order.amount }}</td>
					<td class="product_quantity final_amount">{{ final_order.amount_bought }}</td>
					<td class="total_price">{{ final_order.total_price_bought }}</td>
					{% else %}
					<td class="product_quantity final_amount">{{ final_order.amount }}</td>
					<td class="total_price">{{ final_order.total_price }}</td>
					{% endif %}
				</tr>
				{% endwith %}
			{% endwith %}
		{% endfor %}
		<tr>
			<th class="noprint"></th>
			<th>סה"כ</th>
			<th></th>
			<th class="noprint"></th>
			<th class="noprint"></th>
			<th class="noprint"></th>
			<th></th>
			{% if epilogue %}
			<th></th>
			{% endif %}
			<th id="total"></th>
		</tr>
	</tbody>
</table>
{% endblock %}
