{% extends "site_base.html" %}

{% load staticfiles %}
{% load foodcoop_extras %}
{% block head_title %}{{ sale }}{% endblock %}

{% block extra_head %}
<style>
table td.description {
	width: 250px;
}
select, input[type=text] {
	width: 40px;
}
textarea {
	width: 180px;
	height: 20px;
}
</style>
<script>
jQ(function() {
	jQ("#accordion").accordion({
	 collapsible: true
	});
 	jQ("#id_member_order_table").dataTable({
		"bSort": false,
		"aLengthMenu": [[-1], ["All"]],
	    "iDisplayLength": -1,
	    "sDom": 't',
	});
 	jQ.each(jQ("tr.product"), function(index, elem) {
 		package_size = parseFloat(jQ(elem).find('td.package_size').html());
 		if (package_size == 1) {
 			jQ(elem).find('input.conditional_disable').prop("readonly", true);
 		}
 	});
});
</script>

</script>
{% endblock %}

{% block body %}
	<h3>עריכת הזמנה</h3>
	<h4>מכירה: {{ sale }}</h4>
	<div id="accordion">
		<h3>הערות</h3>
		<div class="row">
			<iframe width="100%" height="350px" src="/announcesale/" frameBorder="0"></iframe>
		</div>
	</div>
	
    <form method="post" action="">
    {% csrf_token %}
    {% if formset.non_field_errors or formset.errors %}
    <p class="errornote">Please correct the errors below</p>
    {{ formset.non_field_errors.as_ul }}
	{% endif %}
    
    	{# taken from http://djangosnippets.org/snippets/1442/ #}
		<table id="id_member_order_table" class="form" border="1">
			{% for form in formset.forms %}
			{% if forloop.first %}
			<thead>
				<tr>
					<th>מוצר</th>
					<th>ספק</th>
					<th>יחידה</th>
					<th>ארוז/תפזורת</th>
					<th>אורגני</th>
					<th>גודל אריזה</th>
					<th>תיאור</th>
					<th>מחיר ליחידה</th>
					{% for field in form.visible_fields %}
					<th>{{ field.label|capfirst }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% endif %}
			<tr class="product {% cycle row1,row2 %}">
				{% with form.instance.product as product %}
					<td>{{ product.product.name }}</td>
					<td>{{ product.product.supplier.name }}</td>
					<td>{{ product.product.unit }}</td>
					<td>{{ product.product.get_packaged_display }}</td>
					<td>{{ product.product.get_organic_display }}</td>
					<td class="package_size">{{ product.product.package_size }}</td>
					<td class="description">{{ product.product.description }}</td>
					<td>{{ product.price_including_VAT|multiply:user.get_profile.tariff.factor }}</td>
				{% endwith %}
				{% for field in form.visible_fields %}
					<td>{# Include the hidden fields in the form #}
					{% if forloop.first %}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
					{% endif %}
					{{ field.errors.as_ul }}
					{{ field }}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
        <div class="form-actions">
            {{ formset.management_form }}
            <button type="submit" class="btn btn-primary">שמירה והמשך עריכה</button>
        </div>
    </form>
{% endblock %}
