{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block extra_head %}
<script type="text/javascript">
jQ(document).ready(function() {
	var total = 0;
	jQ.each(jQ('td.total_price'), function(index, elem) {
		total = total + parseFloat(jQ(elem).html());
	});
	jQ('th#total').html(total.toFixed(2));
	
	jQ('#id_order_table').dataTable({
		"bSort": false,
		"aLengthMenu": [[-1], ["All"]],
	    "iDisplayLength": -1,
	    "sDom": 't',
	});
});
</script>
{% endblock %}

{% block body %}
<h3>סיכום הזמנה לחבר/ה</h3>
<h4>מכירה: {{ sale }}</h4>
<h4>חבר/ה: {{ member.get_full_name }}</h4>

<table id="id_order_table">
	<thead>
		<tr>
			<th></th>
			<th>מוצר</th>
			<th>ספק</th>
			<th>יחידה</th>
			<th>מחיר ליחידה</th>
			<th>הזמנה</th>
			<th>מחיר</th>
		</tr>
	</thead>
	<tbody>
		{% for order in object_list %}
			{% with order.product as product %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.product.supplier }}</td>
				<td>{{ product.product.unit }}</td>
                                <td>{{ product.price }}</td> 
				<td>{{ order.amount }}</td>
				<td class="total_price">{{ order.total_price }}</td>
			</tr>
			{% endwith %}
		{% endfor %}
		<tr>
			<th></th>
			<th>סה"כ</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th id="total"></th>
		</tr>
	</tbody>
</table>
{% endblock %}
