{% extends "site_base.html" %}

{% block body %}
<div>
	<h3>ניהול רשימת מוצרים / בחירת מוצרים</h3>
	<table>
		<thead>
			<tr>
				<th>ספק, קטגוריה</th>
				<th colspan="2">קישורים</th>
			</tr>
		</thead>
		<tbody>
		{% for supplier in suppliers %}
			{% if supplier.suppliercategory_set.count == 0 %}
			<tr>
				<td>{{ supplier.name }}</td>
				<td><a href="{% url "edit-supplier-products" supplier.id %}">ניהול רשימת מוצרים</a></td>
				<td><a href="{% url "supplier-products" supplier.id %}">בחירת מוצרים</a></td>
			</tr>
        	{% else %}
        		{% for category in supplier.suppliercategory_set.all %}
        		<tr>
					<td>{{ supplier.name }} | {{ category.name }}</td>
					<td><a href="{% url "edit-category-products" supplier.id %}">ניהול רשימת מוצרים</a></td>
					<td><a href="{% url "select-category-products" supplier.id category.id %}">בחירת מוצרים</a></td>
				</tr>
        		{% endfor %}
        	{% endif %}

		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
