{% extends "site_base.html" %}

{% load i18n %}
{% load bootstrap_tags %}

{% block extra_head %}
<style>
div {
	direction: ltr;
}
</style>
{% endblock %}

{% block body %}
<form method="POST" action="" class="form-horizontal">
    <legend>{% trans "Impersonate another user" %}</legend>
    {% csrf_token %}
    {{ form|as_bootstrap }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">{% trans "Continue" %}</button>
    </div>
</form>
{% endblock %}

