{% extends "site_base.html" %}

{% block body %}
<div>
	<h3>מצב מכירה</h3>
	<h4>מכירה: {{ sale }}</h4>
	
	<table>
		<caption>מוצרים שנבחרו מכל ספק</caption>
		<thead>
			<tr>
				<th>ספק, קטגוריה</th>
				<th>מספר מוצרים</th>
			</tr>
		</thead>
		<tbody>
		{% for category in categories %}
      		<tr>
				<td>{{ category.name }}</td>
				<td>{{ category.num_products }}</td>
			</tr>
      	{% endfor %}
		</tbody>
	</table>

	<table>
		<caption>מספר הזמנות מכל חבר/ה</caption>
		<thead>
			<tr>
				<th>חבר/ה</th>
				<th>מספר מוצרים</th>
			</tr>
		</thead>
		<tbody>
		{% for member,order_count in order_count_per_member.items %}
      		<tr>
				<td>{{ member.get_full_name }}</td>
				<td>{{ order_count }}</td>
			</tr>
      	{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
