{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_head %}
<script type="text/javascript">
	jQ(document).ready(function() {
		jQ('#id_envelope_table tbody tr').formset({
            prefix: 'cheque_envelopes'
        });
    });
</script>
{% endblock %}

{% block body %}
	<h3>רישום המחאות</h3>
	<h4>מכירה: {{ sale }}</h4>
    <div class="row">
      	<div class="span6 columns">
      		<h5>רישום מעטפות</h5>
		    <form method="post" action="">
		    {% csrf_token %}
		    {% if formset.non_field_errors or formset.errors %}
		    <p class="errornote">Please correct the errors below</p>
		    {{ formset.non_field_errors.as_ul }}
			{% endif %}
		    
		    	{# taken from http://djangosnippets.org/snippets/1442/ #}
				<table id="id_envelope_table" class="form">
					{% for form in formset.forms %}
					{% if forloop.first %}
					<thead>
						<tr>
							{% for field in form.visible_fields %}
							<th>{{ field.label|capfirst }}</th>
							{% endfor %}
						</tr>
					</thead>
					{% endif %}
					<tr class="{% cycle row1,row2 %}">
						{% for field in form.visible_fields %}
							<td>{# Include the hidden fields in the form #}
							{% if forloop.first %}
								{% for hidden in form.hidden_fields %}
									{{ hidden }}
								{% endfor %}
							{% endif %}
							{{ field.errors.as_ul }}
							{{ field }}
							</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
		        <div class="form-actions">
		            {{ formset.management_form }}
		            <button type="submit" class="btn btn-primary">Save and continue editing</button>
		        </div>
		    </form>
		</div>
		<div class="span6 columns">
			<h5>המחאות שהתקבלו </h5>
			{% if cheque_payments %}
			<table>
				<thead>
				{# 'payment', 'cheque_number', 'account_number', 'account_name', 'envelope_internal_id', 'bank' #}
					<th>סכום ששולם</th>
					<th>נתקבל מידי</th>
					<th>מספר המחאה</th>
					<th>מספר חשבון</th>
					<th>שם חשבון</th>
					<th>מספר מעטפה</th>
					<th>בנק</th>
				</thead>
				<tbody>
				{% for cheque in cheque_payments %}
					<tr>
						<td>{{ cheque.payment.sum_paid }}</td>
						<td>{{ cheque.payment.member }}</td>
						<td>{{ cheque.cheque_number }}</td>
						<td>{{ cheque.account_number }}</td>
						<td>{{ cheque.account_name }}</td>
						<td>{{ cheque.envelope_internal_id }}</td>
						<td>{{ cheque.get_bank_display }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{% else %}
			<p>עדיין לא התקבלו המחאות</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
