{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block body %}

{% if readonly %}
<h3>סיכום מכירה</h3>
{% else %}
<h3>ניהול מכירה</h3>
{% endif %}
<h4>שם: {{ sale.title }} תאריך: {{ sale.sale_date|date }}</h4>

<table id="sale_day">
	<thead>
		<tr>
			<th>חבר/ה</th>
			<th>מספר מניה</th>
			{# <th>סכום לתשלום</th> #}
			<th>סכום ששולם</th>
			<th>מספר המחאה</th>
    		<th>האם ההזמנה נלקחה</th>
    		<th>עודכן ע"י</th>
    		<th>פרטי התקשרות</th>
    		<th>הערות</th>
    	</tr>
    </thead>
    <tbody>
    	{% for payment in payments %}
	    	{% with payment.member as member %} 
		    <tr>
		    	{% if readonly %}
				<td>{{ member.get_full_name }}</td>
		    	{% else %}
				<td><a href="{% url "member-orders-by-sale" sale.id member.id %}">{{ member.get_full_name }}</a></td>
				{% endif %}
				<td>{{ member.get_profile.user_number }}</td>
				{# <td>{{ payment.sum }}</td> #}
				<td>{{ payment.sum_paid }}</td>
				<td>{{ payment.chequepayment.cheque_number }}</td>
				<td>{{ payment.took_order|yesno:"כן,לא" }}</td>
				<td>{{ payment.updated_by.get_full_name|default_if_none:"טרם עודכן" }}</td>
				<td>
				{% for detail in member.get_profile.contact_details %}
					{{ detail }}<br>
				{% endfor %}
				</td>
				<td>{{ payment.comments }}</td>
		    </tr>
		    {% endwith %}
		{% endfor %}
	</tbody>
</table>
{% endblock %}
