{% extends "site_base.html" %}

{% block head_title %}{{ sale }}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
jQ(document).ready(function() {
	jQ.each(jQ('td.product_quantity'), hack_quantity_field_value);
	jQ.each(jQ('input.product_quantity'), hack_quantity_field_value);
});
</script>
<style>
input[type=text] {
	width: 60px;
}
</style>
{% endblock %}

{% block body %}
	<h3>עדכון כמויות</h3>
	<h4>מכירה: {{ sale }}</h4>
	<h4>חבר/ה: {{ member.get_full_name }}</h4>
    <form method="post" action="">
    {% csrf_token %}
    {% if formset.non_field_errors or formset.errors %}
    <p class="errornote">Please correct the errors below</p>
    {{ formset.non_field_errors.as_ul }}
	{% endif %}

    	{# taken from http://djangosnippets.org/snippets/1442/ #}
		<table id="id_order_table" class="form" border="1">
			{% for form in formset.forms %}
			{% if forloop.first %}
			<thead>
				<tr>
					<th></th>
					<th>מוצר</th>
					<th>ספק</th>
					<th>יחידה</th>
					<th>הזמנה מקורית</th>
					<th>הזמנה מתוקנת</th>
					{% for field in form.visible_fields %}
					<th>{{ field.label|capfirst }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% endif %}
			<tr class="{% cycle row1,row2 %}">
				{% with form.instance as product_final_order %}
					{% with product_final_order.product_order.product.product as product %}
					<td>{{ forloop.counter }}</td>
					<td>{{ product.name }}</td>
					<td>{{ product.supplier }}</td>
					<td>{{ product.unit }}</td>
					<td>{{ product_final_order.product_order.amount }}</td>
					<td class="product_quantity">{{ product_final_order.amount }}</td>
					{% endwith %}
				{% endwith %}
				{% for field in form.visible_fields %}
					<td>{# Include the hidden fields in the form #}
					{% if forloop.first %}
						{% for hidden in form.hidden_fields %}
							{{ hidden }}
						{% endfor %}
					{% endif %}
					{{ field.errors.as_ul }}
					{{ field }}
					</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
        <div class="form-actions">
            {{ formset.management_form }}
            <input type="submit" class="btn btn-primary" value="שמירה והמשך עריכה" />
			<input type="submit" class="btn" name="_redirect_to_summary" value="שמירה וחזרה לסיכום הזמנה" />
        </div>
    </form>
{% endblock %}
