{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block extra_head %}
	<script type="text/javascript">
	function toggleChequePaymentForm(payment_method_elem, chequepayment_form_elem) {
		if (payment_method_elem.val() == 'cheque') {
			chequepayment_form_elem.show();
		} else {
			chequepayment_form_elem.hide();
		}
	}

	jQ(document).ready(function() {
		sumElements(jQ('td.total_price'), jQ('th#total')); 
		var chequepayment_form_elem = jQ('div#chequepayment_form');
		var payment_method_elem = jQ('select#id_method');
		toggleChequePaymentForm(payment_method_elem, chequepayment_form_elem);
		payment_method_elem.change(function() {
			toggleChequePaymentForm(payment_method_elem, chequepayment_form_elem);
		});
		
		jQ('button#id_edit_member_order').click(function() {
			window.location = '{% url "sale-day-member-order-update" sale.id member.id %}';
			return false;
		});

		var csrftoken = jQ.cookie('csrftoken');

		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		jQ.ajaxSetup({
		    crossDomain: false, // obviates need for sameOrigin test
		    beforeSend: function(xhr, settings) {
		        if (!csrfSafeMethod(settings.type)) {
		            xhr.setRequestHeader("X-CSRFToken", csrftoken);
		        }
		    }
		});


		jQ('input.was_bought').click(function() {
			var product_final_order_id = jQ(this).val(); 
			jQ.ajax({
				type: 'POST',
				url: "{% url "product-final-order-update" %}",
				data: {'order_id': product_final_order_id, 'was_bought': jQ(this).is(':checked')},
				//dataType: 'json',
			}).fail(function(jqXHR, textStatus) {
				alert("Error: " + textStatus);
			}).done(function(data) {
				// do nothing
			});
		});

		jQ.each(jQ('td.product_quantity'), hack_quantity_field_value);
	});
	</script>
	<style>
	ul.payment_form {
		list-style: none;
	}
	ul.payment_form li {
		display: inline;
		float: right;
		padding: 20px;
	}
	input[type=text] {
		width: 140px;
	}
	textarea {
		height: 60px;
	}
	</style>
{% endblock %}

{% block body %}
<h3>סיכום הזמנה לחבר/ה</h3>
<h4>מכירה: {{ sale }}</h4>
<h4>חבר/ה: {{ member.get_full_name }} (מספר מניה: {{ member.get_profile.user_number }})</h4>

<table>
	<thead>
		<tr>
			<th></th>
			<th>מוצר</th>
			<th>ספק</th>
			<th>יחידות</th>
			<th>מחיר ליחידה</th>
			<th>הזמנה מקורית</th>
			<th>הזמנה מתוקנת</th>
			<th>כמות ששולמה בקופה</th>
			<th>מחיר</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for order in orders %}
			{% with order.product_order.product as product %}
			<tr>
				<td>{{ forloop.counter }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.product.supplier }}</td>
				<td>{{ product.product.unit }}</td>
				<td>{{ product.price }}</td>
				<td>{{ order.product_order.amount }}</td>
				<td class="product_quantity">{{ order.amount }}</td>
				<td class="product_quantity">{{ order.amount_bought }}</td>
				<td class="total_price">{{ order.total_price_bought }}</td>
				<td><input class="was_bought" value='{{ order.id }}' type="checkbox" {% if order.was_bought %}checked="checked"{% endif %} /></td>
			</tr>
			{% endwith %}
		{% endfor %}
		<tr>
			<th></th>
			<th>סה"כ</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th id="total"></th>
			<th></th>
		</tr>
	</tbody>
</table>

<form action="{% url "member-orders-by-sale" sale.id member.id %}" method="POST">
{% csrf_token %}
	<div id="payment_form" class="row">
	<ul class="payment_form">
	{{ payment_form.as_ul }}
	</ul>
	</div>
	<div id="chequepayment_form" class="row">
	<ul class="payment_form">
	{{ chequepayment_form.as_ul }}
	</ul>
	</div>
	<div class="form-actions">
	    <button type="submit" class="btn btn-primary">שמירה וחזרה לקופה</button>
	    <button id="id_edit_member_order" class="btn">מעבר למסך עריכת הזמנה</button>
	</div>
</form>
{% endblock %}
