{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block body %}
<h3>פתקים לפי חבר/ה</h3>
<h4>מכירה: {{ sale }}</h4>

<form action="" method="POST">
	{% csrf_token %}
	<button id="id_button_save" class="btn btn-primary">שמירת פתקים לקובץ אקסל</button>
</form>

<table>
	<thead>
		<tr>
			<th></th>
			<th>חבר/ה</th>
			<th>מספר מצרכים בהזמנה</th>
    	</tr>
    </thead>
    <tbody>
    	{% for member in members %}
    		{% with orders_by_member|get_item:member.id as member_orders %}
		    <tr>
		    	<td>{{ forloop.counter }}</td>
				<td>{{ member.get_full_name }}</td>
				<td>{{ member_orders|length }}</td>
		    </tr>
		    {% endwith %}
		{% endfor %}
	</tbody>
</table>
{% endblock %}
