{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block body %}
<h3>פתקים לפי מוצר</h3>
<h4>מכירה: {{ sale }}</h4>

<form action="" method="POST">
	{% csrf_token %}
	<button id="id_button_save" class="btn btn-primary">שמירת פתקים לקובץ אקסל</button>
</form>

<table>
	<thead>
		<tr>
			<th></th>
			<th>מוצר</th>
            <th>מספר חברים שהזמינו</th>			
    	</tr>
    </thead>
    <tbody>
    	{% for product in products %}
            {% with orders_by_product|get_item:product.id as product_orders %}
		    <tr>
		    	<td>{{ forloop.counter }}</td>
				<td>{{ product.name }}</td>
                <td>{{ product_orders|length }}</td>
		    </tr>
            {% endwith %}
		{% endfor %}
	</tbody>
</table>
{% endblock %}
