{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block body %}

{% if readonly %}
<h3>סיכום מכירה למוצר</h3>
{% else %}
<h3>ניהול מכירה של מוצר</h3>
{% endif %}
<h4>שם מכירה: {{ sale.title }} תאריך: {{ sale.sale_date|date }}</h4>
<h4>שם מוצר: {{ saleproduct.product.name }} </h4>
    <table>
        <thead>
            <tr>
                <th>שם משתמש</th>
                <th>כמות מתוקנת</th>
                <th>כמות ששולמה בקופה</th>
                <th>המוצר נקנה</th>
            </tr>
        </thead>
        <tbody>
        {% for finalorder in finalorders %}
            <tr>
                <td>{{ finalorder.product_order.member.get_full_name }}</td>
                <td>{{ finalorder.amount }}</td>
                <td>{{ finalorder.amount_bought }}</td>
                <td>{{ finalorder.was_bought }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
