{% extends "site_base.html" %}

{% block body %}

<h3>רשימת מוצרים במכירה</h3>
<h4>שם: {{ sale.title }} תאריך: {{ sale.sale_date|date }}</h4>
    <table>
        <thead>
            <tr>
                <th>מוצר</th>
                <th>ספק</th>
                <th>קטגוריית ספק</th>
                <th>מחיר</th>
                <th>קישורים</th>
            </tr>
        </thead>
        <tbody>
        {% for sale_product in sale_products %}
            <tr>
                <td>{{ sale_product.product.name }}</td>
                <td>{{ sale_product.product.supplier.name }}</td>
                <td>{{ sale_product.product.category.name }}</td>
                <td>{{ sale_product.price }}</td>
                <td><a href="{% url "product-in-sale" sale.id sale_product.id %}">הזמנות למוצר</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
