{% load staticfiles %}
<!DOCTYPE html>
<html dir="rtl">
<head>
	<meta charset="utf-8" />
	<title>{{ flatpage.title }}</title>
	<link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
	<style>
	body {
		padding-top: 0px;
	}
	</style>
	<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
</head>
<body>
{{ flatpage.content }}
</body>
</html>
