{% extends "site_base.html" %}

{% block head_title %}Other payments{% endblock %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function() {
	var container = $("#id_payment_table");
	var $console = $("#id_console");
	var $parent = $container.parent();
	var autosaveNotification;
	container.handsontable({
		  startRows: 8,
		  startCols: 5,
		  rowHeaders: true,
		  colHeaders: true,
		  minSpareRows: 1,
		  //contextMenu: true,
	});

	var handsontable = $container.data('handsontable');

	$parent.find('button[name=load]').click(function () {
		$.ajax({
			url: "/foodcoop/api/otherpayment/?format=json",
			dataType: 'json',
			type: 'GET',
			success: function (res) {
				handsontable.loadData(res.data);
				$console.text('Data loaded');
			}
		});
	});

//	container.handsontable("loadData", data);
});
</script>
{% endblock %}

{% block body %}
<h3>קופה קטנה</h3>

<div class="row">
	<p>
		<button name="load">Load</button>
		<button name="save">Save</button>
		<label><input type="checkbox" name="autosave" checked="checked" autocomplete="off"> Autosave</label>
	</p>
	
	<pre id="id_console" class="console">Click "Load" to load data from server</pre>
	
	<div id="id_payment_table"></div>
	
	<p>
		<button name="dump" data-dump="#example1" title="Prints current data source to Firebug/Chrome Dev Tools">
		  Dump data to console
		</button>
	</p>
</div>
