{% extends "site_base.html" %}

{% load foodcoop_extras %}

{% block extra_head %}
<script type="text/javascript">
jQ(document).ready(function() {
    var table = jQ('#id_payment_table').dataTable({
		"aaSorting": [[ 0, "asc" ]],
		"aLengthMenu": [[-1], ["All"]],
	    "iDisplayLength": -1, 
	    "sDom": 't',
	});
});
</script>
{% endblock %}

{% block body %}
<h3>תשלומי חברים עבור  קניה לפי חתכים שונים</h3>
<div class="row">
	<div class="span2 columns">
		<h4><a href="{% url "payments-breakdown" %}">כל התשלומים</a></h4>
		<h4>תשלומים לפי מכירה</h4>
		<table>
			<thead>
				<tr>
					<th>מכירה</th>
				</tr>
			</thead>
			<tbody>
				{% for sale in sale_list %}
				<tr>
					<td><a href="{% url "payments-by-sale" sale.id %}">{{ sale }}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<h4>תשלומים לפי חבר/ה</h4>
		<table>
			<thead>
				<tr>
					<th>חבר/ה</th>
				</tr>
			</thead>
			<tbody>
				{% for member in member_list %}
				<tr>
					<td><a href="{% url "payments-by-member" member.id %}">{{ member.get_full_name }}</a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="span10 columns">
		<table id="id_payment_table">
			<thead>
				<tr>
					<th></th>
					<th>חבר/ה</th>
					<th>מכירה</th>
					<th>סכום לתשלום</th>
					<th>סכום ששולם בפועל</th>
					<th>שיטת תשלום</th>
					<th>מספר המחאה</th>
					{# <th>נתקבל?</th> #}
					{# <th>פעולות</th> #}
				</tr>
			</thead>
			<tbody>
				{% for payment in payment_list %}
				<tr>
					<td>{{ forloop.counter }}</td>
					<td>{{ payment.member.get_full_name }}</td>
					<td>{{ payment.sale.id }} - {{ payment.sale.title }}</td>
					<td>{{ sum_bought_per_payment|get_item:payment.id|floatformat:2 }}</td>
					<td class="payment_sum">{{ payment.sum_paid|floatformat:2 }}</td>
					<td>{{ payment.get_method_display }}</td>
					<td>{{ payment.chequepayment.cheque_number|default:"---" }}</td>
					{# <td>כן או לא</td>#}
					{# <td>יצירת העברה</td> TODO only appears if not transfered earlier #}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
