{% extends "site_base.html" %}

{% block extra_head %}
<script type="text/javascript">
jQ(document).ready(function() {
	jQ.each(jQ('td.total'), truncate_decimal_field);
});
</script>
{% endblock %}
{% block body %}
<h3>מאזן כספי למכירה</h3>
<h4>מכירה: {{ sale }}</h4>

<table>
	<thead>
	</thead>
	<tbody>
		<tr>
			<th>סה"כ תשלומים לספקים לפי סיכום מכירה לספק</th>
			<td class="total">{{ total_payments_to_suppliers }}</td>
			<td>סיכום הסכומים המופיעים בדף סיכום אחרי מכירה לפי הסכומים הסופיים של הצ'קים שאותם הגזבריות מעדכנות בדפי סיכום אחרי מכירה לפי הסכומים שנרשמו בפועל על הצ'קים (יכול לכלול לדוגמה תוספת משלוח או כל שינוי אחר)</td>
		</tr>
		<tr>
			<th>סה"כ תשלומים מחברים לפי טופס קופה</th>
			<td class="total">{{ total_member_payments }}</td>
			<td>סכימה של כל הצ'קים שהתקבלו מחברי הקואופרטיב עבור קניותיהם</td>
		</tr>
		<tr>
			<th>סה"כ תשלומים מחברים מינוס 5% שהקואופ גובה</th>
			<td class="total">{{ total_minus_selling_ratio }}</td>
			<td>סכימה של כל הצ'קים שהתקבלו מחברי הקואופרטיב עבור קניותיהם מינוס 5% אקסטרה שנגבים על ידי הקואופרטיב. סכום זה אמור להיות קרוב מאוד לסכום בשורה הראשונה. הפרש של עד 100 ש"ח יכול להחשב לסביר, אך תמיד יש לבדוק מה מקור הפער</td>
		</tr>
		<tr><td>---</td></tr>
		<tr>
			<th>סה"כ הכנסות אחרות</th>
			<td class="total">{{ total_other_income }}</td>
			<td>בתוך הלינק על הגזבריות להזין הכנסות שקשורות למכירה הספציפית, לדוגמה: מכירה של מוצרים עודפים אחרי המכירה. הסכום בשורה זו הוא סכימה של כל ההכנסות שהוזנו</td>
		</tr>
		<tr>
			<th>סה"כ הוצאות אחרות - החזרי נסיעות וכדו'</th>
			<td class="total">{{ total_other_expenses }}</td>
			<td>בתוך הלינק על הגזבריות להזין הוצאות שקשורות למכירה הספציפית, לדוגמה: תשלום עבור דלק לשם הבאת מוצרים למכירה. הסכום בשורה זו הוא סכימה של כל ההוצאות שהוזנו</td>
		</tr>
		<tr><td>---</td></tr>
		<tr>
			<th>סה"כ רווח קואופ על המכירה</th>
			<td class="total">{{ total_profit }}</td>
			<td>סעיף זה מציג את סך ההכנסות למכירה זו (שורות 2 ו-4) פחות סך ההוצאות למכירה (שורות 1 ו-5). יש להתריע אם סכום זה נמוך מדי או, לא עלינו, שלילי</td>
		</tr>
		{% comment %}
		<tr><td>---</td></tr>
		<tr>
			<th>סה"כ העברות כספים לספקים</th>
			<td class="total">{{ total_transfers_to_suppliers }}</td>
		</tr>
		<tr>
			<th>סה"כ העברות כספים מחברים</th>
			<td class="total">{{ total_member_transfers }}</td>
		</tr>
		{% endcomment %}
	</tbody>
</table>
{% endblock %}
