<h4>מכירה: {{ sale }}</h4>
<h5><a href="{% url "treasury-sale-summary" sale.id %}">מאזן כספי של המכירה</a></h5>
<div class="row">
	<div class="span6 columns">
		<h5>חברים - סיכום רשימת קניות</h5>
		<h6><a href="{% url "sale-day-summary" sale.id %}">קופה - סיכום מכירה</a></h6>
		{% include "treasury/member_final_orders.html" %}
	</div>
	<div class="span6 columns">
		<h5>ספקים - סיכום אחרי מכירה</h5>
		{% include "treasury/supplier_summaries.html" %}
	</div>
</div>
