{% extends "site_base.html" %}

{% block head_title %}Transfers{% endblock %}

{% block extra_head %}
<style>
ul.transfer_form {
	list-style: none;
}
</style>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ( "#id_transfer_date" ).datepicker({
		dateFormat: 'dd/mm/yy'
		//dateFormat: 'yy/mm/dd'
	});
});
</script>
{% endblock %}

{% block body %}
<h3>אישור מחיקה</h3>

<div class="row">
	<form action="" method="post">
	{% csrf_token %}
		<p>האם את בטוחה שברצונך למחוק פעולה זו?</p> 
		<button type="submit" class="btn btn-primary">כן</button>
	</form>
</div>
{% endblock %}
