{% extends "site_base.html" %}

{% block head_title %}Transfers{% endblock %}

{% block extra_head %}
<style>
ul.transfer_form {
	list-style: none;
}
</style>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ( "#id_transfer_date" ).datepicker({
		dateFormat: 'dd/mm/yy'
	});
});
</script>
{% endblock %}

{% block body %}
<h3>העברה חדשה</h3>

<div class="row">
	<form action="{% url "create-transfer" %}" method="post">
	{% csrf_token %}
		{# <ul class='transfer_form'> #}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">הוספה</button>
		{# </ul> #}
	</form>
</div>
{% endblock %}
