{% extends "site_base.html" %}

{# TODO: merge with transfer_create_form.html #}

{% block head_title %}Transfers{% endblock %}

{% block extra_head %}
<style>
ul.transfer_form {
	list-style: none;
}
</style>
<script type="text/javascript">
jQ(document).ready(function() {
	jQ( "#id_transfer_date" ).datepicker({
		dateFormat: 'dd/mm/yy'
	});
});
</script>
{% endblock %}

{% block body %}
<h3>עריכת העברה</h3>

<div class="row">
	<form action="" method="post">
	{% csrf_token %}
		{# <ul class='transfer_form'> #}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">שמירה</button>
			<button type="submit" class="btn"><a href="{% url "delete-transfer" object.id %}">מחיקה</a></button>
		{# </ul> #}
	</form>
</div>
{% endblock %}
