{% extends "site_base.html" %}

{% block head_title %}Transfers{% endblock %}

{% block extra_head %}
{% comment %}
<style>
table tr.expense {
	background-color: #F04848;
}
table tr.income {
	background-color: #4CCE61;
}
ul.transfer_form {
	list-style: none;
}
{% endcomment %}
</style>
<script type="text/javascript">
jQ(document).ready(function() {

	/*

    jQ( "#transfer_dialog" ).dialog({
    	my: "center",
    	at: "center",
    	of: window,
        autoOpen: false,
        draggable: false,
        resizable: false,
        modal: true,
    });

    jQ( "#id_add_button" ).click(function() {
        jQ("#id_transfer_date").datepicker("disable");
        jQ( "#transfer_dialog" ).dialog( "open" );
        jQ("#id_transfer_date").datepicker("enable");
        return false;
    });
    
    {% if form.errors %}
    jQ( "#id_add_button" ).click();
    {% endif %}
    */

    var table = jQ('#id_transfer_table').dataTable({
		"aaSorting": [[ 0, "asc" ]],
		"aoColumns": [null, null, null, null, null, null, null, null],
		"aLengthMenu": [[-1], ["All"]],
	    "iDisplayLength": -1, 
	    "sDom": 't',
	});
    
    jQ("#id_add_button").click(function() {
    	window.location = "{% url "create-transfer" %}";
    });
});
</script>
{% endblock %}

{% block body %}
<h3>העברות כספים</h3>
<h4>סה"כ: {{ total }} שקלים</h4>

{% comment %}
<div id="transfer_dialog" class="row">
	<form action="{% url "transfer-list" %}" method="post">
	{% csrf_token %}
		{# <ul class='transfer_form'> #}
			{{ form.as_p }}
			<button type="submit" class="btn btn-primary">הוספה</button>
		{# </ul> #}
	</form>
</div>
{% endcomment %}

<div class="row">
	<button id="id_add_button" class="btn">פעולה חדשה</button>
</div>

<div class="row">
	{% if object_list %}
	<table id="id_transfer_table" border="1">
		<thead>
			<tr>
				<th>תאריך</th>
				<th>הכנסה/הוצאה</th>
				<th>סוג העברה</th>
				<th>חבר/ה</th>
				<th>מכירה</th>
				<th>ספק</th>
				<th>סכום</th>
				<th>תיאור</th>
			</tr>
		</thead>
		<tbody>
			{% for transfer in object_list %}
			<tr class="{{ transfer.type.expense|yesno:"expense,income" }}">
				<td>{{ transfer.transfer_date|date:'Y/m/d' }}</td>
				<td>{{ transfer.type.expense|yesno:"הוצאה,הכנסה" }}</td>
				<td><a href="{% url "edit-transfer" transfer.id %}">{{ transfer.type }}</a></td>
				<td>{{ transfer.get_member.get_full_name|default_if_none:'' }}</td>
				<td>{{ transfer.sale|default_if_none:'' }}</td>
				<td>{{ transfer.type.supplier|default_if_none:'' }}</td>
				<td>{{ transfer.sum }}</td>
				<td>{{ transfer.description }}</td>
			</tr>
			{% endfor %}

			{% comment %}
			<tr>
				<td>סה"כ</td>
				<td></td>
				<td></td>
				<td>{{ total }}</td>
				<td></td>
			</tr>
			{% endcomment %}
		</tbody>
	</table>
	{% else %}
		<h5>עדיין אין העברות</h5>
	{% endif %}
</div>
{% endblock %}
