{% extends "site_base.html" %}

{% block body %}
{% if object_list %}
<table border="1">
	<tr>
		<th>Share number</th>
		<th>User</th>
		<th>Person</th>
		<th>Joined at</th>
		<th>Left at</th>
		<th>Email</th>
		<th>Home number</th>
		<th>Cellular</th>
	</tr>
	{% for profile in object_list %}
	{% with profile.user as member %}
		{% for person in member.persons.all %}
		<tr>
			<td>{{ profile.user_number }}</td>
			<td>{{ member.username }}</td>
			<td>{{ person.name }}</td>
			<td>{{ profile.joined_at|default:"" }}</td>
			<td>{{ profile.left_at|default:"" }}</td>
			<td>{{ person.email_address }}</td>
			<td>{{ person.home_phone_number }}</td>
			<td>{{ person.cellular_phone_number }}</td>
		</tr>
		{% endfor %}
	{% endwith %}
	{% endfor %}
</table>
{% else %}
	<p>No members found</p>
{% endif %}
{% endblock %}
