{% extends "site_base.html" %}

{% load staticfiles %}

{% block head_title %}כל המוצרים{% endblock %}

{% block body %}
	<h3>רשימת מוצרים</h3>
	<div class="row">
	<table id="id_product_table">
		<thead>
			<tr>
				<th>שם</th>
				<th>יחידה</th>
				<th>ספק</th>
				<th>מחיר מכירה</th>
                <th>מלאי</th>
				<th>ארוז/תפזורת</th>
				<th>אורגני</th>
				<th>גודל אריזה</th>
				<th>תיאור</th>
			</tr>
		</thead>
		<tbody>
			{% for product in object_list %}
			<tr>
				<td>{{ product.name }}</td>
				<td>{{ product.unit }}</td>
				<td>{{ product.supplier }}</td>
                <td>{{ product.selling_price }}</td>
                <td>{{ product.inventory }}</td>
				<td>{{ product.get_packaged_display }}</td>
				<td>{{ product.get_organic_display }}</td>
				<td>{{ product.package_size }}</td>
				<td>{{ product.description }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	</div>
{% endblock %}
