{% extends "site_base.html" %}
{% load foodcoop_extras %}

{# {% block header %}{{ sale.title }} | {% if sale.is_open %}open{% else %}closed{% endif %} | {{ product }}{% endblock %} #}

{% block body %}
{% if not sale.is_open %}
<form action="{% url "product_form" sale.id product.id %}" method="post">
{% csrf_token %}
{% endif %}
<table border="1">
	<h5>Orders for {{ product.product.name }} in sale [{{ sale.title }}]</h5>
	<tr>
		<th>Member</th>
		<th>Order</th>
		{% if not sale.is_open %}
		<th>Final order</th>
		{% endif %}
	</tr>
	{% for member in members %}
	<tr>
		<td><a href="{% url "order_form" sale.id member.id %}">{{ member }}</a></td>
		<td>{{ member_orders|get_item:member.id|get_item:product.id }}</td>
		{% if not sale.is_open %}
		<td><input name="member_{{ member.id }}" type="text" value="{{ member_final_orders|get_item:member.id|get_item:product.id }}" /></td>
		{% endif %}
	</tr>
	{% endfor %}
	<tr>
		<td>Total</td>
		<td>{{ total }}</td>
		{% if not sale.is_open %}
		<td>{{ final_total }}</td>
		{% endif %}
	</tr>
	<tr>
		<td>Amount</td>
		<td>{{ amount }}</td>
		{% if not sale.is_open %}
		<td>{{ final_amount }}</td>
		{% endif %}
	</tr>
	<tr>
		<td>Deviation</td>
		<td>{{ leftover }}</td>
		{% if not sale.is_open %}
		<td>{{ final_leftover }}</td>
		{% endif %}
	</tr>
</table>
{% if not sale.is_open %}
<p><input type="submit" value="Update final amounts" /></p>
</form>
{% endif %}
{% endblock %}