{% extends "site_base.html" %}

{% block body %}
{% if object_list %}
<table border="1">
	{# <caption>Members:</caption> #}
	<tr>
		<th>Member name</th>
		<th>Bought share at</th>
		<th>Share price</th>
	</tr>
	{% for user in object_list %}
	<tr>
		<td>{{ user.username }}</td>
		{% with user.get_profile as profile %}
		<td>{{ profile.bought_share_at|default:"" }}</td>
		<td>{% if profile.bought_share_at %}{{ profile.share_price }}{% endif %}</td>
		{% endwith %}
	</tr>
	{% endfor %}
</table>
{% else %}
	<p>No members found</p>
{% endif %}
{% endblock %}
